.orders-page {
  background-color: #121212;
  color: #FFFFFF;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px){
  .order-cards{
    width: 90%;
  }
}