.body {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: #bb86fc;
  border: none;
  transition: transform 0.2s;
  width: 400px;
  height: 150px;
  margin: 1rem;
}

.card:hover {
  transform: scale(1.05);
}

@media (max-width: 90%) {
  .card {
    width: 90%;
    height: 120px;
  }
}